
.vs/OriinDic/DesignTimeBuild/.dtbcache.v2
.vs/OriinDic/FileContentIndex/06643560-38e8-4786-aa8c-6a4263fa384d.vsidx
.vs/OriinDic/FileContentIndex/27e2f27a-c35d-49aa-b2e9-7b5a04205b4b.vsidx
.vs/OriinDic/FileContentIndex/2d813e33-f7b1-4a20-8ddf-4efab47cf0a2.vsidx
.vs/OriinDic/FileContentIndex/338e8501-3bde-4e27-8a6e-8bcf30bf172d.vsidx
.vs/OriinDic/FileContentIndex/568a5791-317b-4fb6-8918-a7201769fcee.vsidx
.vs/OriinDic/FileContentIndex/9b51f114-a62c-4881-af01-5d7368e374b1.vsidx
.vs/OriinDic/FileContentIndex/bbdc367f-8b55-4a40-8b38-8055916ce76d.vsidx
.vs/OriinDic/FileContentIndex/c59270a2-52ce-438e-9ed2-8ca576cf233b.vsidx
.vs/OriinDic/v17/.suo
.vs/OriinDic/v17/fileList.bin
.vs/ProjectEvaluation/oriindic.metadata.v5
.vs/ProjectEvaluation/oriindic.metadata.v5.2
.vs/ProjectEvaluation/oriindic.projects.v5.2
bin/Debug/net7.0/OriinDictionary7.staticwebassets.runtime.json
bin/Debug/net7.0/wwwroot/_framework/blazor.boot.json
bin/Debug/net7.0/wwwroot/_framework/dotnet.7.0.0-rc.1.22426.10.9hnoa194tf.js
bin/Debug/net7.0/wwwroot/_framework/dotnet.7.0.0-rc.1.22426.10.9hnoa194tf.js.gz
bin/Debug/net7.0/wwwroot/_framework/dotnet.7.0.0-rc.1.22426.10.t7u94tgxh6.js
bin/Debug/net7.0/wwwroot/_framework/dotnet.7.0.0-rc.1.22426.10.t7u94tgxh6.js.gz
bin/Debug/net7.0/wwwroot/service-worker-assets.js
obj/Debug/net7.0/blazor.boot.json
obj/Debug/net7.0/build-gz/++f5RF0Q.gz
obj/Debug/net7.0/build-gz/+dokL5Sz.gz
obj/Debug/net7.0/build-gz/+E4wsvXs.gz
obj/Debug/net7.0/build-gz/+EucvVzi.gz
obj/Debug/net7.0/build-gz/+FCQPACD.gz
obj/Debug/net7.0/build-gz/+I7QJRB4.gz
obj/Debug/net7.0/build-gz/+Q4w1sYM.gz
obj/Debug/net7.0/build-gz/+QqxvaGp.gz
obj/Debug/net7.0/build-gz/+RP2DQFV.gz
obj/Debug/net7.0/build-gz/+Uyv9Z22.gz
obj/Debug/net7.0/build-gz/071wQN1N.gz
obj/Debug/net7.0/build-gz/09jjYTbc.gz
obj/Debug/net7.0/build-gz/0F0geibQ.gz
obj/Debug/net7.0/build-gz/0kPJZJMz.gz
obj/Debug/net7.0/build-gz/0LYbMe1t.gz
obj/Debug/net7.0/build-gz/0VXIYcEE.gz
obj/Debug/net7.0/build-gz/16byExz2.gz
obj/Debug/net7.0/build-gz/16hMmsdJ.gz
obj/Debug/net7.0/build-gz/20P95qO1.gz
obj/Debug/net7.0/build-gz/244ElxlJ.gz
obj/Debug/net7.0/build-gz/2yYpDxYV.gz
obj/Debug/net7.0/build-gz/2YZ5jmg7.gz
obj/Debug/net7.0/build-gz/34VMgrSo.gz
obj/Debug/net7.0/build-gz/3ePp+8Aj.gz
obj/Debug/net7.0/build-gz/3mh57TRq.gz
obj/Debug/net7.0/build-gz/3SVmfxgN.gz
obj/Debug/net7.0/build-gz/3udS9LJq.gz
obj/Debug/net7.0/build-gz/3xIVMVxS.gz
obj/Debug/net7.0/build-gz/41OANVYi.gz
obj/Debug/net7.0/build-gz/42bezIo2.gz
obj/Debug/net7.0/build-gz/46QDmpxk.gz
obj/Debug/net7.0/build-gz/4JxLVqPK.gz
obj/Debug/net7.0/build-gz/4oYFZLwF.gz
obj/Debug/net7.0/build-gz/5nO6dEf7.gz
obj/Debug/net7.0/build-gz/5r96bJRe.gz
obj/Debug/net7.0/build-gz/69G3dJAb.gz
obj/Debug/net7.0/build-gz/6DgbIT9W.gz
obj/Debug/net7.0/build-gz/6iaPP034.gz
obj/Debug/net7.0/build-gz/6KEpksHN.gz
obj/Debug/net7.0/build-gz/6PdulZfx.gz
obj/Debug/net7.0/build-gz/6qjGnGGC.gz
obj/Debug/net7.0/build-gz/74PdxfUn.gz
obj/Debug/net7.0/build-gz/7bJJMh1E.gz
obj/Debug/net7.0/build-gz/7fbFhPiG.gz
obj/Debug/net7.0/build-gz/7YWYS1fS.gz
obj/Debug/net7.0/build-gz/8weJgWoz.gz
obj/Debug/net7.0/build-gz/8YHfKoag.gz
obj/Debug/net7.0/build-gz/9+3d6J+O.gz
obj/Debug/net7.0/build-gz/90675Hh1.gz
obj/Debug/net7.0/build-gz/9izMJqTf.gz
obj/Debug/net7.0/build-gz/9mAAMiC5.gz
obj/Debug/net7.0/build-gz/9TD5Kfw1.gz
obj/Debug/net7.0/build-gz/9zulQM7f.gz
obj/Debug/net7.0/build-gz/9zwDkc+e.gz
obj/Debug/net7.0/build-gz/A2nvJDf2.gz
obj/Debug/net7.0/build-gz/A5wCur00.gz
obj/Debug/net7.0/build-gz/AhrKrhGJ.gz
obj/Debug/net7.0/build-gz/akVaDZX4.gz
obj/Debug/net7.0/build-gz/amwCDYMB.gz
obj/Debug/net7.0/build-gz/AnvnDSiN.gz
obj/Debug/net7.0/build-gz/ApafiJPo.gz
obj/Debug/net7.0/build-gz/aTHd7RVi.gz
obj/Debug/net7.0/build-gz/AvXi8U89.gz
obj/Debug/net7.0/build-gz/ayazkIR+.gz
obj/Debug/net7.0/build-gz/bml4UXGe.gz
obj/Debug/net7.0/build-gz/BmsiJTYl.gz
obj/Debug/net7.0/build-gz/bsLcnfLo.gz
obj/Debug/net7.0/build-gz/BTdienZP.gz
obj/Debug/net7.0/build-gz/BUyUXYZs.gz
obj/Debug/net7.0/build-gz/bx2ntOY9.gz
obj/Debug/net7.0/build-gz/C+rr9Pui.gz
obj/Debug/net7.0/build-gz/cA7Nl9+8.gz
obj/Debug/net7.0/build-gz/cIasssBr.gz
obj/Debug/net7.0/build-gz/cjrgT+0O.gz
obj/Debug/net7.0/build-gz/cLm+DsXW.gz
obj/Debug/net7.0/build-gz/crPcREaK.gz
obj/Debug/net7.0/build-gz/CrrlXKhE.gz
obj/Debug/net7.0/build-gz/cs+wbMJX.gz
obj/Debug/net7.0/build-gz/CsdBUe6t.gz
obj/Debug/net7.0/build-gz/Ctksgjvf.gz
obj/Debug/net7.0/build-gz/CYOMi8m5.gz
obj/Debug/net7.0/build-gz/CZLf9l0M.gz
obj/Debug/net7.0/build-gz/d+Df2Qcf.gz
obj/Debug/net7.0/build-gz/D3+Vs6jf.gz
obj/Debug/net7.0/build-gz/d7K8pTBf.gz
obj/Debug/net7.0/build-gz/Db8+BO89.gz
obj/Debug/net7.0/build-gz/doSh1anC.gz
obj/Debug/net7.0/build-gz/DtMGZLI+.gz
obj/Debug/net7.0/build-gz/dU+xij5+.gz
obj/Debug/net7.0/build-gz/E4MOkCLI.gz
obj/Debug/net7.0/build-gz/E4P7oGW7.gz
obj/Debug/net7.0/build-gz/e6a8hf+4.gz
obj/Debug/net7.0/build-gz/E89ISuci.gz
obj/Debug/net7.0/build-gz/EbLYNY2f.gz
obj/Debug/net7.0/build-gz/ebxJpcW+.gz
obj/Debug/net7.0/build-gz/eHtkNX+S.gz
obj/Debug/net7.0/build-gz/eigxh09I.gz
obj/Debug/net7.0/build-gz/En7LADF8.gz
obj/Debug/net7.0/build-gz/eo1rhtJA.gz
obj/Debug/net7.0/build-gz/EoHu4XCp.gz
obj/Debug/net7.0/build-gz/EOkezAJk.gz
obj/Debug/net7.0/build-gz/ePIzWpr+.gz
obj/Debug/net7.0/build-gz/epkkMXy4.gz
obj/Debug/net7.0/build-gz/ePLZCKKL.gz
obj/Debug/net7.0/build-gz/EqD57L+1.gz
obj/Debug/net7.0/build-gz/EROSO3+r.gz
obj/Debug/net7.0/build-gz/ETfew2VF.gz
obj/Debug/net7.0/build-gz/f1B+jMOn.gz
obj/Debug/net7.0/build-gz/fAxKhqIz.gz
obj/Debug/net7.0/build-gz/Fee21k4m.gz
obj/Debug/net7.0/build-gz/fIT4UgPY.gz
obj/Debug/net7.0/build-gz/fqxztTg9.gz
obj/Debug/net7.0/build-gz/FZ62SqIT.gz
obj/Debug/net7.0/build-gz/g3zj4o6w.gz
obj/Debug/net7.0/build-gz/G7CP4xUb.gz
obj/Debug/net7.0/build-gz/G9DQN+iU.gz
obj/Debug/net7.0/build-gz/gAkoAysQ.gz
obj/Debug/net7.0/build-gz/GcvyRQcA.gz
obj/Debug/net7.0/build-gz/gdh+JgBq.gz
obj/Debug/net7.0/build-gz/GDnDhK30.gz
obj/Debug/net7.0/build-gz/gGirRCuI.gz
obj/Debug/net7.0/build-gz/GhxbKV9J.gz
obj/Debug/net7.0/build-gz/giqsNezb.gz
obj/Debug/net7.0/build-gz/gNy2PX8B.gz
obj/Debug/net7.0/build-gz/GOAEJZ6Q.gz
obj/Debug/net7.0/build-gz/GpfkWOvN.gz
obj/Debug/net7.0/build-gz/GPXkv9oq.gz
obj/Debug/net7.0/build-gz/GQiwLgab.gz
obj/Debug/net7.0/build-gz/GYgT6QYt.gz
obj/Debug/net7.0/build-gz/HCKoP7f5.gz
obj/Debug/net7.0/build-gz/Hd4zLGI7.gz
obj/Debug/net7.0/build-gz/Hknlz52F.gz
obj/Debug/net7.0/build-gz/HSGpVQ8l.gz
obj/Debug/net7.0/build-gz/hSybYSPS.gz
obj/Debug/net7.0/build-gz/HTTMyJtp.gz
obj/Debug/net7.0/build-gz/HXqbT8+5.gz
obj/Debug/net7.0/build-gz/Hzg33rIn.gz
obj/Debug/net7.0/build-gz/icZDfJ+o.gz
obj/Debug/net7.0/build-gz/IieSAYDK.gz
obj/Debug/net7.0/build-gz/IKxu6S1C.gz
obj/Debug/net7.0/build-gz/iL0Eccl+.gz
obj/Debug/net7.0/build-gz/ilH0584X.gz
obj/Debug/net7.0/build-gz/iPz8tPrX.gz
obj/Debug/net7.0/build-gz/iSI+hwEg.gz
obj/Debug/net7.0/build-gz/ItpBwSUy.gz
obj/Debug/net7.0/build-gz/iy6gzj3+.gz
obj/Debug/net7.0/build-gz/j7H8DyQU.gz
obj/Debug/net7.0/build-gz/jauNIlMe.gz
obj/Debug/net7.0/build-gz/JC6VxgOt.gz
obj/Debug/net7.0/build-gz/jfjntQvP.gz
obj/Debug/net7.0/build-gz/JfxhfzHc.gz
obj/Debug/net7.0/build-gz/Jk4hdezg.gz
obj/Debug/net7.0/build-gz/jktoAxhK.gz
obj/Debug/net7.0/build-gz/jMCuDdmG.gz
obj/Debug/net7.0/build-gz/jmyEzPKp.gz
obj/Debug/net7.0/build-gz/jq9qb8p5.gz
obj/Debug/net7.0/build-gz/JQkqHpdD.gz
obj/Debug/net7.0/build-gz/jRX8JPZD.gz
obj/Debug/net7.0/build-gz/JTI6f1pR.gz
obj/Debug/net7.0/build-gz/ju9GO146.gz
obj/Debug/net7.0/build-gz/juHuJDA3.gz
obj/Debug/net7.0/build-gz/jUrU1nf6.gz
obj/Debug/net7.0/build-gz/jw3D4ZME.gz
obj/Debug/net7.0/build-gz/jwF+htvt.gz
obj/Debug/net7.0/build-gz/JYDQ4EYs.gz
obj/Debug/net7.0/build-gz/jYUyvEEa.gz
obj/Debug/net7.0/build-gz/jZ6gnG9Y.gz
obj/Debug/net7.0/build-gz/K+Ki3bwK.gz
obj/Debug/net7.0/build-gz/Kb0zSwdk.gz
obj/Debug/net7.0/build-gz/KEsGBTyV.gz
obj/Debug/net7.0/build-gz/kgrZkdYa.gz
obj/Debug/net7.0/build-gz/kGwNVcx+.gz
obj/Debug/net7.0/build-gz/kN2OF0xR.gz
obj/Debug/net7.0/build-gz/kNBFKNcp.gz
obj/Debug/net7.0/build-gz/kri1hbua.gz
obj/Debug/net7.0/build-gz/KT+T24Jg.gz
obj/Debug/net7.0/build-gz/Kw7pncGF.gz
obj/Debug/net7.0/build-gz/L+FwX7Lz.gz
obj/Debug/net7.0/build-gz/L+V6jDTA.gz
obj/Debug/net7.0/build-gz/l250LE35.gz
obj/Debug/net7.0/build-gz/l3wfWbLX.gz
obj/Debug/net7.0/build-gz/l5dC8FnS.gz
obj/Debug/net7.0/build-gz/L7BZHqZD.gz
obj/Debug/net7.0/build-gz/l7Z1Kedl.gz
obj/Debug/net7.0/build-gz/Lc+ChEwe.gz
obj/Debug/net7.0/build-gz/LhH3OQ+N.gz
obj/Debug/net7.0/build-gz/Lic+DQIP.gz
obj/Debug/net7.0/build-gz/LLg+07St.gz
obj/Debug/net7.0/build-gz/lp+FM44I.gz
obj/Debug/net7.0/build-gz/lQvoZfV0.gz
obj/Debug/net7.0/build-gz/LsZKj+gO.gz
obj/Debug/net7.0/build-gz/LwX3Zw8t.gz
obj/Debug/net7.0/build-gz/lYmBqv9U.gz
obj/Debug/net7.0/build-gz/LyyZi3+7.gz
obj/Debug/net7.0/build-gz/M4+Yj3YO.gz
obj/Debug/net7.0/build-gz/m8dmMRyR.gz
obj/Debug/net7.0/build-gz/MEf0TpuU.gz
obj/Debug/net7.0/build-gz/mekgzs+z.gz
obj/Debug/net7.0/build-gz/MH23Ok+b.gz
obj/Debug/net7.0/build-gz/MJQeasWn.gz
obj/Debug/net7.0/build-gz/MNzCo8rY.gz
obj/Debug/net7.0/build-gz/MtXaK96x.gz
obj/Debug/net7.0/build-gz/mUdAhnRE.gz
obj/Debug/net7.0/build-gz/MwIAlUNj.gz
obj/Debug/net7.0/build-gz/MXH55fZE.gz
obj/Debug/net7.0/build-gz/n5h81Nr0.gz
obj/Debug/net7.0/build-gz/N9TZPnOl.gz
obj/Debug/net7.0/build-gz/NASCQuhD.gz
obj/Debug/net7.0/build-gz/ndtyfTta.gz
obj/Debug/net7.0/build-gz/nSmAFc47.gz
obj/Debug/net7.0/build-gz/Nu125+y+.gz
obj/Debug/net7.0/build-gz/NU1EOpDD.gz
obj/Debug/net7.0/build-gz/OaOcDQ8E.gz
obj/Debug/net7.0/build-gz/oDFM2YlN.gz
obj/Debug/net7.0/build-gz/OEIuurd8.gz
obj/Debug/net7.0/build-gz/OeU3+e18.gz
obj/Debug/net7.0/build-gz/OFzBHtCQ.gz
obj/Debug/net7.0/build-gz/Og17W2kT.gz
obj/Debug/net7.0/build-gz/oHHORnEV.gz
obj/Debug/net7.0/build-gz/oIzl+tGS.gz
obj/Debug/net7.0/build-gz/OjYhfFHa.gz
obj/Debug/net7.0/build-gz/olBPdXo+.gz
obj/Debug/net7.0/build-gz/OlfdZd2A.gz
obj/Debug/net7.0/build-gz/OPp2TyIX.gz
obj/Debug/net7.0/build-gz/OQPBh96O.gz
obj/Debug/net7.0/build-gz/p+8PwRua.gz
obj/Debug/net7.0/build-gz/P+VPnfF0.gz
obj/Debug/net7.0/build-gz/peSwylGs.gz
obj/Debug/net7.0/build-gz/PfPLtPoJ.gz
obj/Debug/net7.0/build-gz/piev+CU3.gz
obj/Debug/net7.0/build-gz/pKN3PCIj.gz
obj/Debug/net7.0/build-gz/PL8McMqv.gz
obj/Debug/net7.0/build-gz/PnPyr06h.gz
obj/Debug/net7.0/build-gz/PrZYm969.gz
obj/Debug/net7.0/build-gz/psUS4yte.gz
obj/Debug/net7.0/build-gz/Pv6fEMGD.gz
obj/Debug/net7.0/build-gz/q1WKt3j6.gz
obj/Debug/net7.0/build-gz/Q5uKSGpm.gz
obj/Debug/net7.0/build-gz/Q77P9qRs.gz
obj/Debug/net7.0/build-gz/qeqTK4Fn.gz
obj/Debug/net7.0/build-gz/qf6OSI8y.gz
obj/Debug/net7.0/build-gz/qjsfQFjQ.gz
obj/Debug/net7.0/build-gz/qjT4X1K8.gz
obj/Debug/net7.0/build-gz/QlGy6xnv.gz
obj/Debug/net7.0/build-gz/qMB1rCVC.gz
obj/Debug/net7.0/build-gz/qPCe3boj.gz
obj/Debug/net7.0/build-gz/QW+WNTJV.gz
obj/Debug/net7.0/build-gz/qXhTAZ+Q.gz
obj/Debug/net7.0/build-gz/r+H5ykn9.gz
obj/Debug/net7.0/build-gz/r6i7ukjf.gz
obj/Debug/net7.0/build-gz/rAFCsCPv.gz
obj/Debug/net7.0/build-gz/RCfKxntv.gz
obj/Debug/net7.0/build-gz/rn3lsG3X.gz
obj/Debug/net7.0/build-gz/RqBt7BGI.gz
obj/Debug/net7.0/build-gz/rQgZMS2j.gz
obj/Debug/net7.0/build-gz/RREvqUio.gz
obj/Debug/net7.0/build-gz/RU6TmdCO.gz
obj/Debug/net7.0/build-gz/Rz7TKi+s.gz
obj/Debug/net7.0/build-gz/s4cA94OK.gz
obj/Debug/net7.0/build-gz/S4LG+qhT.gz
obj/Debug/net7.0/build-gz/S7EX16c1.gz
obj/Debug/net7.0/build-gz/SDkiLUxy.gz
obj/Debug/net7.0/build-gz/SE7OeB+I.gz
obj/Debug/net7.0/build-gz/sgt+wNI+.gz
obj/Debug/net7.0/build-gz/sio+vxkh.gz
obj/Debug/net7.0/build-gz/SiXb7wqS.gz
obj/Debug/net7.0/build-gz/sM9BK5iZ.gz
obj/Debug/net7.0/build-gz/sMEh+Mx+.gz
obj/Debug/net7.0/build-gz/SndNILa6.gz
obj/Debug/net7.0/build-gz/sQVFVVUM.gz
obj/Debug/net7.0/build-gz/sWXGxJss.gz
obj/Debug/net7.0/build-gz/t+ggqOQj.gz
obj/Debug/net7.0/build-gz/t33LvCHV.gz
obj/Debug/net7.0/build-gz/t3syDZHi.gz
obj/Debug/net7.0/build-gz/tEmFwlut.gz
obj/Debug/net7.0/build-gz/ThXq4IAF.gz
obj/Debug/net7.0/build-gz/Tkien9ZB.gz
obj/Debug/net7.0/build-gz/TLw0DKQ3.gz
obj/Debug/net7.0/build-gz/TmVOrAtG.gz
obj/Debug/net7.0/build-gz/Tws6bXRX.gz
obj/Debug/net7.0/build-gz/TZyg1MWt.gz
obj/Debug/net7.0/build-gz/u+1yB5L5.gz
obj/Debug/net7.0/build-gz/u+GBb9zR.gz
obj/Debug/net7.0/build-gz/u0lQ+X5j.gz
obj/Debug/net7.0/build-gz/U5nusTma.gz
obj/Debug/net7.0/build-gz/U7107xoR.gz
obj/Debug/net7.0/build-gz/u8wXHo3D.gz
obj/Debug/net7.0/build-gz/Ucl8seNT.gz
obj/Debug/net7.0/build-gz/UE7yvZBi.gz
obj/Debug/net7.0/build-gz/uEEnhs++.gz
obj/Debug/net7.0/build-gz/UenhfnCk.gz
obj/Debug/net7.0/build-gz/ueWmD+Cm.gz
obj/Debug/net7.0/build-gz/uFoErLP+.gz
obj/Debug/net7.0/build-gz/UuDZGT+r.gz
obj/Debug/net7.0/build-gz/uyBNhEdF.gz
obj/Debug/net7.0/build-gz/Uz1rdnz2.gz
obj/Debug/net7.0/build-gz/V+l57XIP.gz
obj/Debug/net7.0/build-gz/V4RaSeKl.gz
obj/Debug/net7.0/build-gz/v5XqNdi2.gz
obj/Debug/net7.0/build-gz/V7c4IUxN.gz
obj/Debug/net7.0/build-gz/vC04c+eZ.gz
obj/Debug/net7.0/build-gz/vEIlywZQ.gz
obj/Debug/net7.0/build-gz/VhNd+lE7.gz
obj/Debug/net7.0/build-gz/vL1vzcl6.gz
obj/Debug/net7.0/build-gz/vOvb6Cn7.gz
obj/Debug/net7.0/build-gz/Voxlkyrh.gz
obj/Debug/net7.0/build-gz/VqRnOcEG.gz
obj/Debug/net7.0/build-gz/vrw29pjT.gz
obj/Debug/net7.0/build-gz/VZYHnB+H.gz
obj/Debug/net7.0/build-gz/W+n5WpPt.gz
obj/Debug/net7.0/build-gz/wBE5jweS.gz
obj/Debug/net7.0/build-gz/WcG8W5M7.gz
obj/Debug/net7.0/build-gz/Wdd26yp2.gz
obj/Debug/net7.0/build-gz/wEPXD+y+.gz
obj/Debug/net7.0/build-gz/WKSMWBhN.gz
obj/Debug/net7.0/build-gz/Wm8gteRD.gz
obj/Debug/net7.0/build-gz/WpnEfFlz.gz
obj/Debug/net7.0/build-gz/x+tyPUq1.gz
obj/Debug/net7.0/build-gz/x5Idk+Ok.gz
obj/Debug/net7.0/build-gz/x5z08vlP.gz
obj/Debug/net7.0/build-gz/XcnDjM44.gz
obj/Debug/net7.0/build-gz/XegsdT+B.gz
obj/Debug/net7.0/build-gz/xgWvmAN6.gz
obj/Debug/net7.0/build-gz/XiHPTJ1r.gz
obj/Debug/net7.0/build-gz/XLQtSnS1.gz
obj/Debug/net7.0/build-gz/xO1wykvu.gz
obj/Debug/net7.0/build-gz/xotX3E6G.gz
obj/Debug/net7.0/build-gz/XQPLZr74.gz
obj/Debug/net7.0/build-gz/XWNdMkw2.gz
obj/Debug/net7.0/build-gz/Xy+LwxSL.gz
obj/Debug/net7.0/build-gz/Y68p+6es.gz
obj/Debug/net7.0/build-gz/Y6R3xuo9.gz
obj/Debug/net7.0/build-gz/ym56ZHi0.gz
obj/Debug/net7.0/build-gz/yMHJAF3H.gz
obj/Debug/net7.0/build-gz/yRE9FdIu.gz
obj/Debug/net7.0/build-gz/YvEMubgh.gz
obj/Debug/net7.0/build-gz/YVMn7Gzw.gz
obj/Debug/net7.0/build-gz/YzrP1X5k.gz
obj/Debug/net7.0/build-gz/z+3OsvKK.gz
obj/Debug/net7.0/build-gz/z2lMP7dz.gz
obj/Debug/net7.0/build-gz/Z3MS8kQ4.gz
obj/Debug/net7.0/build-gz/ZFF19ERM.gz
obj/Debug/net7.0/build-gz/zHELARNE.gz
obj/Debug/net7.0/build-gz/zhvvgqur.gz
obj/Debug/net7.0/build-gz/zK5Ffux1.gz
obj/Debug/net7.0/build-gz/ZmqbsEr+.gz
obj/Debug/net7.0/build-gz/zOUz+P01.gz
obj/Debug/net7.0/build-gz/ZQvfodr5.gz
obj/Debug/net7.0/build-gz/ZsQIfTCt.gz
obj/Debug/net7.0/build-gz/ZxnAaDTe.gz
obj/Debug/net7.0/OriinDictionary7.csproj.FileListAbsolute.txt
obj/Debug/net7.0/project.razor.json
obj/Debug/net7.0/service-worker-assets.js.build
obj/Debug/net7.0/staticwebassets.build.json
obj/Debug/net7.0/staticwebassets.development.json
obj/OriinDictionary7.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
.vs/OriinDic/FileContentIndex/871500c2-eda7-4a6d-b635-3092a4dce696.vsidx
.vs/OriinDic/DesignTimeBuild/.dtbcache.v2
.vs/OriinDic/FileContentIndex/471bbd1b-6511-40f4-9536-a8a7b3690e42.vsidx
.vs/OriinDic/v17/.futdcache.v2
.vs/OriinDic/v17/.suo
.vs/OriinDic/v17/fileList.bin
.vs/ProjectEvaluation/oriindic.metadata.v5.2
.vs/ProjectEvaluation/oriindic.projects.v5.2
