<ListGroupItem>
    <Field Horizontal="true" Padding="Padding.IsAuto.OnAll">
        <FieldBody ColumnSize="ColumnSize.Is11">
            @if (MyLink is not null)
{
    <div class="box">
                    <a href="context.Link">@MyLink.Link</a>
                </div>
}
        </FieldBody>
    </Field>
</ListGroupItem>