<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Wyślij email na adres
        <a target="_blank" class="font-weight-bold" href="mailto:mateusz@kierepka.pl">autora</a>
    </span>, z krótką informację co nie działa.
</div>